<div class="jumbotron" ng-controller="TurmaCtrl">
            <h3>Lista de Turmas</h3> 
            <div class="voltar">
                <button class="btn btn-primary" ng-click="voltar()" ng-hide="addFormShow">Voltar</button>
            </div>
            <hr>
                <input class="form-control" type="text" ng-model="filtroTurma" placeholder="Pesquisar por..." />
            <hr>

            <table class="table table-bordered">
                <thead>
                    <tr class="danger">
                        <td><h5><strong><a href="" ng-click="ordenarPor('turmaNome')">Turma</a></strong></h5></td>
                        <td><h5><strong>Alunos</strong></h5></td>
                        <td><h5><strong>Apagar</strong></h5></td>
                    </tr>
                </thead>
                <tbody>
                    <tr class="active" ng-repeat="turma in turmas | filter: filtroTurma | orderBy:criterioDeOrdenacao:direcaoDaOrdenacao">
                        <td>{{turma.turmaNome | uppercase }}</td>
                        <td>
                            <button class="btn btn-primary btn-sm" ng-click="redirecionandoUsuario()" >Ver</button>
                        </td>
                        <td>
                            <button class="btn btn-danger btn-sm" ng-click="apagarTurma(turma)" >X</button>
                        </td>
                    </tr>
                </tbody>
            </table>
            <hr>
            <form ng-submit="enviarFormulario()" ng-show="addFormShow">
                <input class="form-control" type="text" ng-model="turmaNome" placeholder="Nome da Turma" />
                <button type="submit" value="" class="btn btn-success btn-block">OK</button>
            </form>
                
            <form ng-submit="editFormSubmit()" ng-show="editFormShow">
                    <input type="text" ng-model="turmaNome" placeholder="Nome da Turma" />
                    <input type="submit" value="" class="glyphicon glyphicon-ok" />
            </form>
            <hr>
        
            <button class="btn btn-success" ng-click="mostrarFormulario()" ng-hide="addFormShow">+</button>
            <button class="btn btn-warning" ng-click="esconderFormulario()" ng-show="addFormShow">-</button>

        </div> 