.jumbotron{
	margin-top: -40px;
}
.table{
	margin-left: auto;
	margin-right: auto;
}
.col-md-4{
	margin-top: 50px;
}
.btn{
	margin-top: 2px;
}
.form{
	margin-bottom: 2px;
}
h3{
	margin-left: 10px;
	 
}
.glyphicon{
	margin-bottom: 5px;
}
.voltar{
	margin-left: -2px;
}